.footer__component{
    color: gray;
    &__container{
            padding-top: 15px;
            display: flex;
            justify-content: center;
            align-items: center;

            .footer_body{
            columns: 4;
            column-gap: 250px;
            font-size: 20px;
            
            .ul{

                .p{
                     .p:hover{
                         text-decoration: underline;
                     }
                }
            }
        }
    }
}